body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 800px;
  width: 1000px;
  background: linear-gradient(30deg, rgba(46,204,113,1) 0%, rgba(46,204,113,1) 0%, rgba(0,212,255,1) 100%);
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.7);
  text-align: center;
  border-radius: 15px;
}
.box h1{
  background: -webkit-linear-gradient(20deg, #2ecc71 , #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight:900;
}
.box input[type ="username"],.box input[type ="password"]{
  border: 0;
  background: none;
  display:block;
  margin: 20px auto;
  text-align:center;
  border: 2px solid #00d4ff;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input:focus{
  width: 280px;
  border-color: #ecf0f1;
}

.box input[type="submit"]{
  border: 0;
  background: none;
  display:block;
  margin: 20px auto;
  text-align:center;
  border: 2px solid #00d4ff;
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: #00d4ff;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="submit"]:hover{
  background: #00d4ff;
  color: #191919;
  font-weight: bold;
  cursor: pointer;
}

::placeholder {
  color: white;
  opacity: 1;
}
